<%= link_to '<span class="btn btn-mini">'.html_safe + "#{number_to_currency current_order.subtotal}"+'</span>'.html_safe, cart_path %>
<%= link_to '<span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i>'.html_safe + "[ #{current_order.order_items.size} ] Items in your cart" + '</span>'.html_safe, cart_path, class: "btn btn-link" %>